body{
    background-color: grey;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: beige;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: red;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.landing-page{
    background-color: red;
    color:white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white
}

#landing-name{
    font-family: 'Courier New', Courier, monospace;
}



.projects-container {
    width: 70vw;
    height: 70vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    border: 1px solid white
}

#projects-header {
    width: 100%;
    text-align: center;
    font-size: 48px;
}

.project {
    display: flex;
    width: 33%;
    border: 1px solid red;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.about-me-container {
    display: flex;
    width: 50vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    border: 1px solid white
}

.about-me-container p {
    margin: auto;
    font-size: 48px;
}


.about-me-content img {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: block;
}





.hidden {
    display: none;
}

/* styles for desktop */
@media screen and (min-width: 800px) {
    
}