*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}
body{
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: fit-content;
    margin: 0;
    overflow: auto;
}

.navigation-bar {
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 55px;
    background-color: rgb(219, 238, 252);
}
.navigation-bar div.top-header-container {
    display: flex;
    width: 100vw;
    min-height: 55px;
    margin: 0;
    align-items: center;
}

.navigation-bar div.top-header-container img.hamburger {
    margin: 10px;
}

.navigation-bar div.top-header-container img.top-header {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    margin: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 55px;
    bottom: 0;
    left: 0;
    background-color: rgba(219, 238, 252, 0.95);
    overflow-x: hidden;
    padding-top: 55px;
    transition: 0.5s;
}
  
  .sidenav a {
    padding: 8px 8px 8px 24px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: red;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 55px;
    margin-left: 50px;
  }

.landing-page, .projects-container, .about-me-container, .contact-me-container {
    margin: auto;
    display: flex;
}

.landing-page{
    color:black;
    margin: auto;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#landing-name{
    font-size: 10vw;
}

.projects-container {
    width: 80vw;
    margin-bottom: 10vh;
    min-height: max-content;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}

#projects-header {
    width: 100%;
    text-align: center;
    font-size: 48px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10vh;
}

.project {
    display: flex;
    /* width: 33%; */
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.project h3 {
    width: 100%;
    font-size: 5vw;
    margin: 1vw;
    color:black
}
.project img {
    max-width: 100%;
    max-height: 100%;
}

#modalOne, #modalTwo, #modalThree {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
    display: none;
}

.close-modal {
    position: absolute;
    top: calc(50%+100px);
    right: 10%;
    font-size: 36px;
    margin-left: 50px;
}
#modalOne-textbox, #modalTwo-textbox, #modalThree-textbox {
	background-color: rgba(219, 238, 252, 0.95);
	height: 50%;
	width: 90%;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.modal-heading {
    padding: 15px; 
    font-size: 5vw;
}

.modal-content {
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    flex-flow: column wrap;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image {
    width: 50%;
    height: 50%;
}

.modal-links {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

.modal-links a {
    text-decoration: none;
    color:green;
}

.modal-description {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.about-me-container {
    width: 80vw;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.about-me-header {
    flex-basis: 100%;
    margin: 0;
    padding: 3rem;
    font-size: 48px;
}

.about-me-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color:floralwhite
}
.about-me-content img {
    max-width: 90%;
    max-height: 90%;
    padding: 2rem;
}

.footer-bar-container {
    bottom: 0;
    min-height: 50px;
    width: 100%;
    text-align: center;
    background-color: rgba(221, 216, 253, 0.228);
    display: flex;
    justify-content: center;
}
.footer-bar-container img {
    margin: 10px;
}

.contact-me-container {
    width: 80vw;
    min-height: 100vh;
    align-content: center;
    flex-wrap: wrap;
    text-align: left;
}

.contact-me-header {
    margin: auto;
    font-size: 48px;
    margin: 0;
    width: 100%;
}

.contact-me-label {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contact-me-form {
    padding: 20px;
    width: 100%;
}

.contact-me-name, .contact-me-email, .contact-me-message{
    min-width: 100%;
    padding: 5px;
    border-radius: 4px;
    resize: none;
}

.contact-me-submit {
    padding: 12px 24px;
    margin-top: 10px;
    background-color: rgb(219, 238, 252);
    border-radius: 4px;
}
.hidden {
    display: none;
}

/* styles for desktop */
@media screen and (min-width: 800px) {
    
}